[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ppendemic"]
	path = ppendemic
	url = https://github.com/paulesantos/ppendemic
