[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "avesperu"]
	path = avesperu
	url = https://github.com/paulesantos/avesperu
[submodule "geoperu"]
	path = geoperu
	url = https://github.com/paulesantos/geoperu
[submodule "mtsta"]
	path = mtsta
	url = https://github.com/paulesantos/mtsta
[submodule "peruflorads43"]
	path = peruflorads43
	url = https://github.com/paulesantos/peruflorads43
[submodule "perutimber"]
	path = perutimber
	url = https://github.com/paulesantos/perutimber
[submodule "ppendemic"]
	path = ppendemic
	url = https://github.com/paulesantos/ppendemic
[submodule "redbookperu"]
	path = redbookperu
	url = https://github.com/paulesantos/redbookperu
