[submodule ".registry"]
	path = .registry
	url = https://github.com/paulesantos/paulesantos.r-universe.dev
	branch = HEAD
[submodule "avesperu"]
	path = avesperu
	url = https://github.com/PaulESantos/avesperu
[submodule "perumammals"]
	path = perumammals
	url = https://github.com/PaulESantos/perumammals
[submodule "rmdd"]
	path = rmdd
	url = https://github.com/PaulESantos/rmdd
[submodule "wcvpdata"]
	path = wcvpdata
	url = https://github.com/PaulESantos/wcvpdata
[submodule "wcvpmatch"]
	path = wcvpmatch
	url = https://github.com/PaulESantos/wcvpmatch
